<!--

    - feature row group Section
    bootstrap 4.5.3 

    template passed in section = {
      "__component": "sections.feature-rows-group",
      "id": 1,
      "features": [
        {
          "id": 1,
          "title": "No Hidden Cost",
          "description": "Clita erat ipsum lorem sit sed stet duo justo",
          "link": {
            "id": 3,
            "url": "/pages/about",
            "newTab": false,
            "text": "More"
          },
          "media": {
            "id": 5,
            "name": "http://localhost:4100/img/carousel-1.jpg",
            "alternativeText": "",
            "caption": "",
            "width": 1920,
            "height": 1080,
            "hash": "carousel_1_8327e2031a",
            "ext": ".jpg",
            "mime": "image/jpeg",
            "size": 183.31,
            "url": "/uploads/carousel_1_8327e2031a.jpg",
            "previewUrl": null,
            "provider": "local",
            "provider_metadata": null,
            "created_at": "2023-09-27T21:20:46.877Z",
            "updated_at": "2023-09-27T21:20:46.898Z"
          }
        }
      ]
    },

    -->
<div class="container-fluid feature-rows-group py-5">
    <div class="container py-5">
        <div class="row gx-0">
          <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                        <i class="fa fa-times text-primary"></i>
                    </div>
                    <div class="ps-3">
                       <h4><%= section.features[0].title %></h4> 










    <!-- Top Feature Start -->
    <div class="container-fluid top-feature py-5 pt-lg-0">
      <div class="container py-5 pt-lg-0">
          <div class="row gx-0">
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                  <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                      <div class="d-flex">
                          <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                              <i class="fa fa-times text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h4>No Hidden Cost</h4>
                              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                  <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                      <div class="d-flex">
                          <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                              <i class="fa fa-users text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h4>Dedicated Team</h4>
                              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                  <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                      <div class="d-flex">
                          <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                              <i class="fa fa-phone text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h4>24/7 Available</h4>
                              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Top Feature End -->